@import 'styles/common/_variables.scss';

.input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $alto;
  font-size: 16px;
  padding: 6px 28px;
  transition: .3s;
}

.input:focus {
  outline: none;
  border: 1px solid $primary;
}
